<!-- Haven't gotten to yet -->

<!-- If the user is logged in, render the painting content -->

{{! *** *** Also loggedIn is showing as undefined, then why is this section showing on browser? }}
{{#if loggedIn}}

  <section id="viewItem">
    {{! *** ***  Unable to see title, content, posted by, etc... }}
    <h2>{{item_name}} ({{year}})</h2>
    <p>By {{artist}}{{composer}}{{author}}{{director}}</p>
    <p>Posted by: {{submittedBy}}</p>
    {{!-- <small>Posted by {{post.user.username}} on {{post.createdAt}}</small> --}}

    <form id="comment-form">
      <textarea
        name="content"
        placeholder="Add a comment..."
        required
      ></textarea>
      <input type="hidden" name="itemId" value="{{id}}" />
      <input type="hidden" name="userId" value="{{session.userId}}" />
      <p>User: {{user}}</p>

      <button type="submit" id="com-sub">Comment</button>
    </form>

    {{#if reviews}}
      <h4>Comments:</h4>
      <ul>
        {{#each reviews}}
          <li>
            {{review}}
            <br />
            <small>( {{rating}}/5 stars )</small>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No comments yet.</p>
    {{/if}}

  </section>

{{else}}
  <p>You must <a href="/login">login</a> first to view this post.</p>
{{/if}}

<script src="/js/comment.js"></script>